// common styles

body {
    @extend %poppins-700;
    font-size: 12px;
    color: $letters-color;
    line-height: 18px;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    &_48px {
        position: relative;
        font-size: 48px;
        line-height: 60px;
    }

    &_36px {
        position: relative;
        font-size: 36px;
        line-height: 60px;
    }

    &_20px {
        font-size: 20px;
        line-height: 30px;
    }

    &_16px {
        position: relative;
        font-size: 16px;
        padding-left: 10px;
        line-height: 24px;
    }

    &_14px {
        position: relative;
        font-size: 14px;
        line-height: 21px;
    }
}

.btn {
    background-color: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    border: none;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.subtitle-center {
    text-align: center;
    @include before_circle;
    padding-left: 0;
}

.subtitle-center::before {
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
}

.title-center {
    text-align: center;
    @include divider;
}

.title-center:after {
    margin: 25px auto 0;
}


.subtitle-left {
    @include before_circle;
    margin-bottom: 6px;
}

.title-left {
    @include divider;
    margin-bottom: 25px;
}